<main class="container my-5">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-md-10 col-lg-6">
      <h1 class="display-3">Exclusão de Tarefa</h1>

      <hr />

      <mat-card
        class="card-listagem card-animado mat-mdc-elevation-specific mat-elevation-z3"
      >
        <mat-card-header>
          <mat-card-title>{{ detalhesTarefa?.titulo }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="d-grid mt-4">
          <span
            ><strong>Prioridade:</strong>
            {{ obterTextoPrioridade(detalhesTarefa!.prioridade) }}</span
          >
          <span><strong>Situação:</strong> {{ detalhesTarefa?.situacao }}</span>
          <span
            ><strong>Percentual Concluído:</strong>
            {{ detalhesTarefa?.percentualConcluido }}%</span
          >
          <span
            ><strong>Data de Criação:</strong>
            {{ detalhesTarefa?.dataCriacao | date }}</span
          >
          <span *ngIf="detalhesTarefa?.dataConclusao"
            ><strong>Data de Conclusão:</strong>
            {{ detalhesTarefa?.dataConclusao | date }}</span
          >
        </mat-card-content>
      </mat-card>

      <mat-divider class="my-4"></mat-divider>

      <section>
        <h3>Itens</h3>

        <p>
          <strong>Quantidade de Itens:</strong>
          {{ detalhesTarefa?.quantidadeItens }}
        </p>

        <div class="row g-2">
          <mat-card
            appearance="outlined"
            *ngFor="let item of detalhesTarefa?.itens;"
          >
            <mat-card-content class="d-flex align-items-center">
              <p class="fs-5 m-0">{{ item.titulo }}</p>

              <mat-icon class="ms-auto" *ngIf="item.concluido"
                >check_circle</mat-icon
              >
            </mat-card-content>
          </mat-card>
        </div>
      </section>

      <p class="mt-4">
        Deseja realmente excluir o registro? <strong>Atenção:</strong> Não será
        possível recuperar estes dados posteriormente.
      </p>

      <div class="row justify-content-end g-2 gap-2 mt-3">
        <button
          mat-flat-button
          type="button"
          class="col-sm-4"
          (click)="excluir()"
        >
          <mat-icon matIconPrefix>check</mat-icon>
          Confirmar
        </button>
        <a
          mat-button
          type="button"
          class="col-sm-4"
          routerLink="/tarefas/listar"
        >
          <mat-icon matIconPrefix>keyboard_return</mat-icon>
          Voltar
        </a>
      </div>
    </div>
  </div>
</main>
