<main class="container my-5">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-md-10 col-lg-6">
      <h1 class="display-3">Registro de Usuário</h1>

      <hr />

      <form [formGroup]="form" (submit)="registrar()">
        <mat-form-field class="w-100 mt-5" appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input
            matInput
            data-cy="nome"
            formControlName="nome"
            autocomplete="name"
            placeholder="Ex: João Silva"
          />
          <mat-icon matSuffix color="primary">person</mat-icon>
          <mat-error class="text-white" *ngIf="nome?.invalid">
            <span *ngIf="nome?.errors?.['required']"
              >O nome precisa ser preenchido.</span
            >
            <span *ngIf="nome?.errors?.['minlength']"
              >O nome deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Nome de Usuário</mat-label>
          <input
            matInput
            formControlName="login"
            data-cy="login"
            autocomplete="username"
            placeholder="Ex: JoãoSilva12"
          />
          <mat-icon matSuffix color="primary">login</mat-icon>
          <mat-error class="text-white" *ngIf="nome?.invalid">
            <span *ngIf="nome?.errors?.['required']"
              >O nome precisa ser preenchido.</span
            >
            <span *ngIf="nome?.errors?.['minlength']"
              >O nome deve conter ao menos 3 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Endereço de Email</mat-label>
          <input
            matInput
            data-cy="email"
            formControlName="email"
            autocomplete="email"
            type="email"
            placeholder="Ex: joao.silva@gmail.com"
          />
          <mat-icon matSuffix color="primary">mail</mat-icon>
          <mat-error class="text-white" *ngIf="email?.invalid">
            <span *ngIf="email?.errors?.['email']"
              >O email precisa seguir o formato "usuario&#64;dominio.com".</span
            >
            <span *ngIf="email?.errors?.['required']"
              >O email precisa ser preenchido.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            data-cy="senha"
            formControlName="senha"
            autocomplete="new-password"
            type="password"
            placeholder="A senha precisa conter ao menos 6 caracteres"
          />
          <mat-icon matSuffix color="primary">password</mat-icon>
          <mat-error class="text-white" *ngIf="senha?.invalid">
            <span *ngIf="senha?.errors?.['required']"
              >A senha precisa ser preenchida.</span
            >
            <span *ngIf="senha?.errors?.['minlength']"
              >A senha deve conter ao menos 6 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <div class="row justify-content-end g-2 gap-2 mt-5">
          <button type="submit" mat-flat-button class="col-sm-4">
            <mat-icon matIconPrefix>person_add</mat-icon>
            Registrar
          </button>
          <a mat-button type="button" class="col-sm-4" routerLink="/login">
            <mat-icon matIconPrefix>login</mat-icon>
            Já tenho uma conta
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
