<main class="container my-5">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-md-10 col-lg-6">
      <h1 class="display-3">Login de Usuário</h1>

      <hr />

      <form [formGroup]="form" (submit)="entrar()">
        <mat-form-field class="w-100 mt-5" appearance="fill">
          <mat-label>Nome de Usuário</mat-label>
          <input
            matInput
            data-cy="login"
            formControlName="login"
            autocomplete="username"
            placeholder="Ex: JoaoSilva12"
            [maxlength]="30"
          />
          <mat-icon matSuffix color="primary">login</mat-icon>
          <mat-error class="text-white" *ngIf="login?.invalid">
            <span *ngIf="login?.errors?.['required']"
              >O login precisa ser preenchido.</span
            >
            <span *ngIf="login?.errors?.['minlength']"
              >O login deve conter ao menos 3 caracteres.</span
            >
            <span *ngIf="login?.errors?.['maxlength']"
              >O login deve conter no máximo 30 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            data-cy="senha"
            formControlName="senha"
            type="password"
            autocomplete="current-password"
            placeholder="A senha precisa conter ao menos 6 caracteres"
            [maxlength]="30"
          />
          <mat-icon matSuffix color="primary">password</mat-icon>
          <mat-error class="text-white" *ngIf="senha?.invalid">
            <span *ngIf="senha?.errors?.['required']"
              >A senha precisa ser preenchida.</span
            >
            <span *ngIf="senha?.errors?.['minlength']"
              >A senha deve conter ao menos 6 caracteres.</span
            >
            <span *ngIf="senha?.errors?.['maxlength']"
              >A senha deve conter no máximo 30 caracteres.</span
            >
          </mat-error>
        </mat-form-field>

        <div class="row justify-content-end g-2 gap-2 mt-5">
          <button
            type="submit"
            data-cy="submit"
            mat-flat-button
            class="col-sm-4"
          >
            <mat-icon matIconPrefix>login</mat-icon>
            Login
          </button>
          <a mat-button type="button" class="col-sm-4" routerLink="/registro">
            <mat-icon matIconPrefix>person_add</mat-icon>
            Não tenho uma conta
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
