<main class="container my-4">
  <div class="row g-3 mt-2">
    <h1 class="fs-2">Listagem de Compromissos</h1>

    <section aria-label="Opções" class="row justify-content-start g-1 gap-2">
      <a
        mat-flat-button
        data-cy="cadastrarNovo"
        class="col-lg-4 col-xxl-2 fs-6 py-4"
        [routerLink]="['/compromissos', 'cadastrar']"
      >
        <mat-icon>add_circle</mat-icon>
        Cadastrar
      </a>
    </section>

    <hr />

    <div
      *ngFor="let item of compromissos; index as i"
      [attr.data-cy-list-item]="'item' + i"
      class="col-md-6 col-lg-4"
    >
      <mat-card
        class="card-listagem card-animado mat-mdc-elevation-specific mat-elevation-z3 h-100"
      >
        <mat-card-header>
          <mat-card-title>{{ item.assunto }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="d-grid mt-4">
          <span><strong>Data:</strong> {{ item.data }}</span>
          <span><strong>Hora de Início:</strong> {{ item.horaInicio }}</span>
          <span><strong>Hora de Término:</strong> {{ item.horaTermino }}</span>
        </mat-card-content>

        <mat-card-footer class="d-flex justify-content-end gap-1 p-3 mt-auto">
          <a
            mat-icon-button
            data-cy="botao-editar"
            class="botao-editar"
            matTooltip="Editar {{ item.assunto }}"
            [routerLink]="['/compromissos', 'editar', item.id]"
          >
            <mat-icon>edit</mat-icon>
          </a>

          <a
            mat-icon-button
            data-cy="botao-excluir"
            class="botao-excluir"
            matTooltip="Excluir {{ item.assunto }}"
            [routerLink]="['/compromissos', 'excluir', item.id]"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</main>
